nav {
    background-color: #56D2D1 !important;
}

#text-size {
    font-size: 45px;
    font-weight: bold;
}

#submit-button {
    display: block;
    width: 100%; 
}

#submit-button:hover {
    background-color: #1e56da}

#submit-button:active {
  background-color: #1e56da;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#date-input {
    text-transform: uppercase;
}

#individual-card {
    background-color: #56D2D1;
}